---
import '../styles/global.css'; 
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Giovanni Macia | Frontend Developer</title>
		<title>Portafolio</title>
	</head>
	<body>
		<nav class="flex justify-center gap-6 p-6 bg-slate-900/50 backdrop-blur-md sticky top-0 z-50">
  		<a href="#home" class="text-slate-300 hover:text-orange-400 transition">Inicio</a>
  		<a href="#about" class="text-slate-300 hover:text-orange-400 transition">Sobre mi</a>
  		<a href="#projects" class="text-slate-300 hover:text-orange-400 transition">Proyectos</a>
  		<a href="#contact" class="text-slate-300 hover:text-orange-400 transition">Contacto</a>
</nav>
		<slot />
	</body>
</html>

<style>
	html,
	body {
        margin: 0;
        width: 100%;
        /* Eliminamos height: 100% para que el scroll funcione bien */
        background-color: #0f172a; /* bg-slate-900 */
	}
</style>
